---
name: SLSA Docker Release
on:
    push:
        tags:
            - "v*"

permissions:
    contents: read
    id-token: write
    packages: write

env:
    IMAGE_NAME: tinyapi
    REGISTRY: ghcr.io

jobs:
    build-image:
        runs-on: ubuntu-latest
        outputs:
            image_path: ${{ steps.meta.outputs.IMAGE_PATH }}
            digest: ${{ steps.build-push.outputs.digest }}
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set Image Metadata
              id: meta
              run: |
                  IMAGE_PATH="${{ env.REGISTRY }}/${{ github.repository }}/${{ env.IMAGE_NAME }}"
                  TAGS="${IMAGE_PATH}:${{ github.ref_name }},${IMAGE_PATH}:latest"
                  echo "IMAGE_PATH=${IMAGE_PATH}" >> $GITHUB_OUTPUT
                  echo "TAGS=${TAGS}" >> $GITHUB_OUTPUT

            - name: Build and push Docker image
              id: build-push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.TAGS }}
                  outputs: "type=image,name=${{ steps.meta.outputs.TAGS }},push=true,digest=true"

    attest-image:
        needs: [build-image]
        permissions:
            contents: write
            id-token: write

        uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
        with:
            image: ${{ needs.build-image.outputs.image_path }}
            digest: ${{ needs.build-image.outputs.digest }}
            tag: ${{ github.ref_name }}
...
