---
name: SLSA Docker Release
on:
    push:
        tags:
            - "v*"

permissions:
    contents: read
    id-token: write
    packages: write

env:
    IMAGE_NAME: tinyapi
    REGISTRY: ghcr.io

jobs:
    build-and-attest:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set Image Metadata
              id: meta
              run: |
                  IMAGE_PATH="${{ env.REGISTRY }}/${{ github.repository }}/${{ env.IMAGE_NAME }}"
                  TAGS="${IMAGE_PATH}:${{ github.ref_name }},${IMAGE_PATH}:latest"
                  echo "IMAGE_PATH=${IMAGE_PATH}" >> $GITHUB_OUTPUT
                  echo "TAGS=${TAGS}" >> $GITHUB_OUTPUT

            - name: Build and push Docker image to GHCR
              id: build-push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ${{ steps.meta.outputs.TAGS }}
                  outputs: "type=image,name=${{ steps.meta.outputs.TAGS }},push=true,digest=true"

            - name: Generate SLSA Provenance for Docker Image
              uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v2.1.0
              with:
                  image: ${{ steps.meta.outputs.IMAGE_PATH }}
                  digest: ${{ steps.build-push.outputs.digest }}
                  tag: ${{ github.ref_name }}

            - name: Upload Provenance Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: slsa-provenance
                  path: "*.intoto.jsonl"
...
